html {
  box-sizing: border-box;
  font-size: 24px;
}
body {
  margin: auto;
  width: 24rem;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  body {
    width: 30rem;
  }
}
p {
  font-size: 1rem;
  margin: 0;
}
#question,
input[type="text"] {
  font-size: 4rem;
}
input[type="radio"] {
  padding: 0;
  margin: 0;
}

#correct-answer {
  font-size: 1rem;
}
input[type="text"] {
  width: 5rem;
}
#records {
  padding: 1rem 0;
}
#records label span,
#records .wrapper span {
  padding: 8px;
  display: inline-block;
}
#records label {
  padding-left: 0;
}
#records .wrapper {
  border: solid 1px black;
  border-bottom: none;
  border-right: none;
  display: inline-block;
}
#records span.disabled {
  opacity: 0.3;
}
#records .wrapper:last-child {
  border-right: solid 1px black;
}
#records div:last-child .wrapper {
  border-bottom: solid 1px black;
}
.priority-0 {
  background: LightGray;
}
.priority-1 {
  background: red;
}
.priority-2 {
  background: orangered;
}
.priority-3 {
  background: orange;
}
.priority-4 {
  background: yellow;
}
.priority-5 {
  background: greenyellow;
}
.priority-6 {
  background: green;
}
